#gallery {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 20px;
}

.gallery-item:not(:last-child) {
  margin-right: 20px;
}

.gallery-img {
  display: block;
  width: 100%;
  height: auto;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
